.conteiner{
    width: 1280px;
    margin: 0 auto;
}

.head-link{
    text-decoration: none;
    font-family: 'Roboto' sans-serif;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}
.head-title-text{
    color: #8fdeff;
}
.head-menu{
    display: flex;
    background-color: #35444F; 
    margin-top: 38px;
    margin-bottom: 48px;
    justify-content: center;     
}
.head-menu-item{
    list-style: none;
    transition: 0.5s;
    padding: 25px 30px;
    border-left: 1px solid white;
}
.head-menu :hover{
    background-color: #222F3A;;
}
.head-menu-link{
    text-decoration: none;
    font-family: 'Roboto' sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.head-item4{
    border-right: 1px solid white;
    padding-right: 20px;
}
.main-menu{
    width: 400px;
}
.main-section{
    display: flex;
    justify-content: space-between;
}
.main-link{
    text-decoration: none;
    font-family: 'Roboto' sans-serif;
    font-size: 27px;
    line-height: 27px;
    color: #485863;  
}
.main-nav-item{
    transition: 0.5s;
    display: flex;
    list-style: none;
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    background: rgba(0, 0, 0, 0.0001);  
    padding: 20px 30px;
    margin-right: 70px;
}
.nav-item1{
    border-top: 1px solid #bfbfbf;
    padding-top: 26px;
}
.nav-item5{
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 32px;
}
.main-menu-nav :hover{
    padding-right: 40px;
    color: black;
    background-color:  #bfbfbf;
}

.main-menu-nav :hover .main-link{
    padding-left: 20px;
}
.main-img{
    border: 1px solid  #bfbfbf;
    padding: 70px 190px;
    text-align: center;
}
.main-section-center{
    width: 700px;
}
.text{
    font-family: 'Roboto' sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.text1{
    padding-top: 34px;
    padding-bottom: 34px;
}
.text2{
    padding-bottom: 54px;
}
.footer-section{
    display: flex;
    justify-content: space-between;
    background-color:rgba(99, 105, 110, 0.48);
}
.footer-menu{
    display: flex;
}
.footer-menu-nav{
    display: flex;
    justify-content: space-around;
    
}
.footer-link{
    color: #0C1927;
}
.footer-item{
    text-decoration: none;
    transition: 0.5s;
    list-style: none;
    font-family: 'Roboto' sans-serif;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    padding: 25px 30px;
}
.footer-link{
    text-decoration: none;
}
.footer-item :hover{
color: #4187a8;
}
.footer-text{
    font-family: 'Roboto' sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding: 25px 30px;
}